body, table tr {
    background-color: #fff
}

table tr td, table tr th {
    border: 1px solid #ccc;
    text-align: left;
    padding: 6px 13px;
    margin: 0
}

pre code, table, table tr {
    padding: 0
}

hr, pre code {
    background: 0 0
}

body {
    font: 16px Helvetica, Arial, sans-serif;
    line-height: 1.4;
    color: #333;
    word-wrap: break-word;
    padding: 10px 15px
}

strong, table tr th {
    font-weight: 700
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    position: relative;
    margin-bottom: 15px;
    line-height: 1.1;
}

h1 {
    font-size: 2em;
    margin: .67em 0;
    text-align: center;
}

h2 {
    margin-top: 25px;
    font-size: 1.75em;
    line-height: 1.4;
}

h3 {
    margin-top: 20px;
    font-size: 1.5em;
    line-height: 1.2;

}

h4 {
    font-size: 1.25em
}

h1, h2 {
    border-bottom: 1px solid #eee
}

hr {
    height: 0;
    margin: 15px 0;
    overflow: hidden;
    border: 0;
}

a {
    color: #4183C4
}

a.absent {
    color: #c00
}

ol, ul {
    padding-left: 15px;
    margin-left: 5px
}

ol {
    list-style-type: lower-roman
}

table {
    border-spacing: 0;
    border: 1px solid #dfe2e5;
    border-spacing: 0;
    border-collapse: collapse;
}

thead tr {
    background-color: #ececec;
}

table tr {
    border-top: 1px solid #ccc;
    margin: 0
}

table tr:nth-child(2n) {
    background-color: #f6f8fa
}

table tr td :first-child, table tr th :first-child {
    margin-top: 0
}

table tr td:last-child, table tr th :last-child {
    margin-bottom: 0
}

img {
    max-width: 100%
}

blockquote {
    padding: 0 15px;
    border-left: 4px solid #ccc
}

code, tt {
    padding: 2px 4px;
    font-size: 90%;
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 4px;
}

pre code {
    margin: 0;
    white-space: pre;
    border: none;
    color: #f8f8f2;
}

.highlight pre, pre {
    background: #23241f;
    font-size: 13px;
    line-height: 19px;
    overflow: auto;
    padding: 6px 10px;
    border-radius: 4px;
}

@media print {
    h1 {
        font-size: 3em;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        line-height: 1.8;
        border-bottom: 2px solid #eee;
    }

    html {
        zoom: 0.75;
    }

    hr {
        page-break-after: always;
    }
}

/*

Monokai Sublime style. Derived from Monokai by noformnocontent http://nn.mit-license.org/

*/

.hljs {
    display: block;
    overflow-x: auto;
    padding: 0.5em;
    background: #23241f;
}

.hljs,
.hljs-tag,
.hljs-subst {
    color: #f8f8f2;
}

.hljs-strong,
.hljs-emphasis {
    color: #a8a8a2;
}

.hljs-bullet,
.hljs-quote,
.hljs-number,
.hljs-regexp,
.hljs-literal,
.hljs-link {
    color: #ae81ff;
}

.hljs-code,
.hljs-title,
.hljs-section,
.hljs-selector-class {
    color: #a6e22e;
}

.hljs-strong {
    font-weight: bold;
}

.hljs-emphasis {
    font-style: italic;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-name,
.hljs-attr {
    color: #f92672;
}

.hljs-symbol,
.hljs-attribute {
    color: #66d9ef;
}

.hljs-params,
.hljs-class .hljs-title {
    color: #f8f8f2;
}

.hljs-string,
.hljs-type,
.hljs-built_in,
.hljs-builtin-name,
.hljs-selector-id,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-addition,
.hljs-variable,
.hljs-template-variable {
    color: #e6db74;
}

.hljs-comment,
.hljs-deletion,
.hljs-meta {
    color: #75715e;
}
